@import './base.css';

#app {
  margin: 0;
  padding: 0rem;
  width: 100vw;
  overflow: hidden;
  font-weight: normal;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 0;
  }
}
